@charset "utf-8";
$fonntSize:14px;
body,div,p,ol,ul,li,dl,dd,dt,form,table,tr,td,input,h1,h2,h3,h4,h5,h6,figure,fieldset,textarea{
    margin:0;
    padding:0;
}
img{
    display:block;
    border:none;
}
a{
    text-decoration:none;
}
ul li{
    list-style:none;
}

//nav
.container {
	height: 52px;
	line-height: 52px;
	background-color: #020001;
}
.pic{
	float:left;
}
.pic img{
	float:left;
	height:50px;
}
.pic1{
	float:right;
}
.container .nav {
	width: 800px;
	margin: 0 auto;
}
.container .nav li {
	position: relative;
	float: left;
	margin: 0 6px;
}
.container .nav li a {
	display: block;
	color: #fff;
	padding: 0 18px;
}


.divC{
    width:200px;
    height:200px;
    display: none;
    position:absolute;
    top:10px;
    left:120px;
    z-index:999;
    float:left;
    overflow:hidden;
	white-space:nowrap;
    img{
    	width:200px;
    	height:200px;
    	float:left;
    }
}
.container:hover .divC{
    display: block;
}
.container:hover nav .li a{
    color:green;
}




/* banner */
.swiper-container {
      width: 100%;
      height: 560px;
    }


//logos
.logo{
	width:100%;
}
.logo a{
	display:block;
	width:50%;
}
.logo a img{
	width:100%;
}
.logo1{
	float: right;
}

/*section*/
.section{
	width: 100%;
	height: 260px;
	background: #ffffff;
}
.one{
	margin: 0 auto;
	width: 1012px;
}
.le{
	float: left;
	width: 493px;
	float: left;
	height: 191px;
}
.lis{
	float: left;
    padding: 48px 30px 0 10px;     
}
.lis ul li{
	line-height:25px;
}
.lis ul a{
	color:#666666;
	font-size: 12px;
	line-height:23px;
}
.lis p{
	font-size: 12px;
	font-weight:600;
	color:black;
}
.section span{
    display: block;
    font-size: 18px;
    color: #464646;
    float:right;
    margin-top:100px;
    margin-right:100px;
    color:#828282;
}
/* .section input{
	float:right;
	color:white;
	background:gray;
} */


/*footer*/
.footer{
	width: 100%;
	height: 45px;
	background: #ffffff;
	float: left;
}
.footers{
	width: 1002px;
	height: 45px;
	margin: 0 auto;
	
}
.footers p{
	color:#97969b;
	font-size: 12px;
	text-align: center;
}
.footers a{
	font-size: 12px;
	color:#999999;
    margin-right: 3px;
}


@media screen and (max-width: 650px){
	.nav{
		width: 100%;
		padding-right: 0;
	}
	.banner{
		width: 100%;
		padding-right: 0;
	}
	.logo{
		width: 100%;
		padding-right: 0;
	}
	.logo1{
		width: 100%;
		padding-left: 0;
	}

	.section{
		flex-direction: column;
		padding-left: 45px;
	}
	.lis{
		padding-right: 45px;
	}

	.footer{
		display: none;
	}
	.footers{
		display: block;
	}
} 
