@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,h1,h2,h3,h4,h5,h6,fieldset,input,textarea,figure{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑",Arial;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border: none;
}


#r15{
  position:relative;
  height: 400px;
  width: 100%;
  background:url(../img/bg.jpg);
}
#r15{
  position:relative;
  height: 200px;
  width: 500px;
  padding:100px 575px; 
}  
#r15 .words1{
	font-size: 24px;  
    letter-spacing: 10px;  
    position: absolute;  
    top:30%;  
    left:10%
    z-index:999;
 } 